<h1>Hello, WWC TLV!</h1>

<div id="events">
</div>

<div><%= @friends %></div>


<script type="text/javascript">
  $.get( "graph.facebook.com/lironbeni/photos", function( data ) {
    $("#events").html( data );
    alert( "Load was performed." );
  });
</script>
